<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.UUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.UUserRole" >
    <constructor >
      <arg column="uid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="rid" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.demo.entity.UUserRole" >
    insert into u_user_role (uid, rid)
    values (#{uid,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.UUserRole" >
    insert into u_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="rid != null" >
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="rid != null" >
        #{rid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>